
#timeline-progress-bar {
  z-index: -1;
  position: absolute;
  width: 5px;
  top: 0;
  /*height will be manipulated with js */
  border-radius: 8px;

  background: linear-gradient(to bottom, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}


.active .timeline-point {
  width: 100px;
  height: 20px;

  color: var(--timeline-color-bar);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.timeline-card-button {
  font-family: "Jersey 10";
  font-size: 2rem;

  z-index: 0;
  position: relative;
  border: 3px solid grey;

  color: var(--timeline-color-bar);
  background: oklch(from var(--bg-color) calc(l + .05) c h);
  padding: 3px 15px;

  transition: 600ms ease;
}

.timeline-card-button:hover {
  border-color: white;
}

.timeline-card-button:hover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;

  translate: -50% -50%;

  z-index: -1;

  background: linear-gradient(-45deg , #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.enter-from-right {
  opacity: 0;
  transform: translateX(50%);
  transition: 600ms ease;
}

.enter-from-left {
  opacity: 0;
  transform: translateX(-50%);
  transition: 600ms ease;
}

.enter-from-back {
  z-index: 0;
  opacity: 0;
  transition: 600ms ease;
}

.enter-from-right.show,
.enter-from-left.show,
.enter-from-back.show {
  opacity: 1;
  transform: translate(0);
}

/*  The @property and the custom animation below let the conic gradient
    rotate. 
*/
@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.timeline-right.active .timeline-card::before,
.timeline-right.active .timeline-card::after,
.timeline-left.active .timeline-card::before,
.timeline-left.active .timeline-card::after {
  position: absolute;
  display: inline-block;
  box-sizing: content-box;

  padding: 0px;
  content: '';
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  bottom: 0;
  right: 0;

  translate: -50% -50%;
  z-index: -1;
  border-radius: 8px;
  background-color: white;
}

.timeline-card::before {
  filter: blur(10px);
  opacity: 0.5;
}

@keyframes spin{
  from {
    --angle: 0deg;
  } to {
    --angle: 360deg;
  }
}