#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 500ms ease 3s;

  h1 {
    font-family: "Jersey 10";
    font-size: 8rem;

    margin: 0;
  }

  p {
    width: 95%;
    max-width: 100ch;
    margin-bottom: 30px;
  }
}

#about.active {
  opacity: 1;
}

@media screen and (max-width: 800px) {
  #about {
    display: block;
    position: relative;
    left: 5%;

    h1 {
      font-size: 6rem;
      text-align: left;
    }
  }
}

.techstack ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 50ch;
}

.techstack ul li {
  list-style: none;
}

.techstack ul li * {
  width: 60px;
  height: 60px;
}