:root {
  font-family: "JetBrains Mono", monospace, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;

  color: white;
  background-color: var(--bg-color);
  box-sizing: border-box;
  
  --bg-color: rgb(50, 50, 50);
  --bg-color-transparent: rgba(50, 50, 50, 0);
  --timeline-bar-color: #ffffff90;

  --blue: #23a6d5;
  --red: #e73c7e;
  --green: #23d5ab;
  --orange: #ee7752;
}
