:root {
  font-family: "JetBrains Mono", monospace, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg-color);
  
  --bg-color: rgb(50, 50, 50);
  --nice-blue: rgb(90, 95, 238);
  --nice-purple: rgb(150, 75, 255);
  --timeline-bar-color: #ffffff90;
}

h1 {
  font-family: "Major Mono Display", monospace;
  font-size: 60px;
}

#timeline-bar {
  z-index: -2;
  position: absolute;
  background: var(--timeline-bar-color);
  top: 0;
  height: 100%;
  width: 5px;
  border-radius: 8px;
}

#timeline-progress-bar {
  z-index: -1;
  position: fixed;
  width: 5px;
  inset: 0 auto 50vh;
  border-radius: 8px;
  background: linear-gradient(
    to bottom,
    grey,
    crimson
  );
}

.timeline-container  {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: fit-content;
  margin: 0 auto;
  gap: 50px;
}

.timeline-item {
  display: grid;
  grid-template-columns: 1fr 180px 1fr;
  grid-template-rows: auto;

  justify-content: center;
  align-content: center;

  width: 90%;
  max-width: 1300px;
}

.timeline-left {
  grid-column: 1;
}

.timeline-center {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-column: 2;
}

.timeline-right {
  grid-column: 3;
}

.timeline-point {
  position: relative;
  z-index: 1; 
  width: 15px;
  height: 15px;
  border-radius: 100%;

  background: red;
  background-clip:content-box;
  border: 3px solid #ffffff;
}

.mobile-fallback {
  display: none;
}

.timeline-point.circle-to-left::before {
  content: '';
  position: absolute;
  display: inherit;
  width: 100px;
  border-radius: 8px;
  z-index: 0;
  top: 5px;
  left: -100px;

  border-bottom: 3px dashed var(--timeline-bar-color);
}

.timeline-point.circle-to-right::before {
  content: '';
  position: absolute;
  display: inherit;
  width: 100px;
  border-radius: 8px;
  z-index: 0;
  top: 5px;
  left: 15px;

  border-bottom: 3px dashed var(--timeline-bar-color);
}

.card {
  position: relative;
  z-index: 2;
  padding: 3px 25px 10px 25px;
  margin-top: 5px;
  text-align: center;

  background: oklch(from var(--bg-color) calc(l + .05) c h);
  border-radius: 8px;
  box-shadow: 5px 5px 0 0 oklch(from var(--bg-color) calc(l + .025) c h);
}

.timeline-container h2 {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: 0;
  left: 50%;
  transform: translateX(-50%);

  font-family: "Jersey 10";
  font-size: 60px;
  line-height: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-date {
  position: relative;
  width: fit-content;
  font-family: "Jersey 10";
  font-size: 20pt;
  left: 50%;
  margin: 0;
  transform: translateX(-50%);
}

.card p {
  margin-top: 20px;
  padding-left: 10px;
}

.techstack {
  position: relative;
  padding: 0;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style-type: none;
  gap: 10px;
}

.techstack li {
  padding-left: 10px;
  padding-right: 8px;
  padding-bottom: 3px;
  background: oklch(from var(--bg-color) calc(l + .1) c h);
  border-radius: 30px;
  font-weight: bold;
}

@media (max-width: 1000px) {

  .timeline-item {
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1f 1f;
    width: 90%;
    row-gap: 50px;
    align-items: center;
  }

  .timeline-point.circle-to-left {
    display: none;
  }

  .timeline-left {
    grid-column: 2;
  }

  .timeline-center {
    grid-column: 1;
  }

  .mobile-fallback {
    display: block;
  }

  .timeline-center.mobile-fallback {
    grid-row: 1;
  }

  .timeline-right {
    grid-column: 2;
  }
}