:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg-color);
  
  --bg-color:  rgb(18, 18, 18);
  --nice-blue: rgb(90, 95, 238);
  --nice-purple: rgb(150, 75, 255);
}

.cards-container  {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.cards-container > h1 {
  font-size: 60px;
}

.card {
  width: 80%;
  max-width: 600px;
  padding: 1.5rem;
  position: relative;

  border: 2px solid transparent;
  border-radius: 8px;

  background-image: 
    linear-gradient(var(--bg-color), var(--bg-color)),
    linear-gradient(to bottom right,
      grey,
      var(--bg-color) 10%,
      var(--bg-color) 90%,
      grey 100%
    );

  background-origin: border-box;
  background-clip: padding-box, border-box;

  transition-property:padding;
  transition-timing-function: ease-in-out;
  transition-duration: 700ms;
}

.card:hover,
.card:focus {
  width: 85%;
  padding-left: 3%;
  padding-right: 3%;

  background-image:
    linear-gradient(var(--bg-color), var(--bg-color)),
    linear-gradient(to bottom right,
      grey,
      var(--bg-color) 15%,
      var(--bg-color) 85%,
      grey 100%
    );
}

.card .title-wrapper {
  position: absolute;
  height: 10px;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);

  background: var(--bg-color);
  padding-left: 15px;
  padding-right: 15px;
}

.card h2 {
  position: relative;
  top: -50px;

  color: transparent;
  background: linear-gradient(to bottom right,
    var(--nice-blue) 20%,
    var(--nice-purple) 100%);

  background-clip: text;

  font-size: 35px;
}

.card h3 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  color: grey;
}

.card .techstack {
  position: relative;
  padding: 0;
  width: fit-content;
  top: 10px;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style-type: none;
  gap: 10px;
}

.card .techstack li {
  padding-left: 10px;
  padding-right: 10px;
  background: rgb(46, 46, 46);
  border-radius: 30px;
}