:root {
  font-family: "JetBrains Mono", monospace, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg-color);
  
  --bg-color: rgb(50, 50, 50);
  --nice-blue: rgb(90, 95, 238);
  --nice-purple: rgb(150, 75, 255);
}

h1 {
  font-family: "Major Mono Display", monospace;
  font-size: 60px;
}

.cards-container  {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: fit-content;
  margin: 0 auto;
}

.cards-container::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 90%;
  top: 300px;
  left: 5px;
  background-color: oklch(from var(--bg-color) calc(l + .3) c h);
  border-radius: 8px;
}

.card {
  position: relative;
  width: 80%;
  max-width: 600px;
  padding: 10px;

  transition-property: background, box-shadow;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.card:hover,
.card:focus {
  border-radius: 8px;
  fill-opacity: 0.5;
  background: oklch(from var(--bg-color) calc(l + .01) c h);
  box-shadow: 2px 2px 20px #00000080;
}

.card-separator {
  height: 0;
  border: none;
  width: 80%;
  max-width: 600px;
}

.card h2 {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: 0;
  left: 50%;
  transform: translateX(-50%);

  font-family: "Jersey 10";
  font-size: 60px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card .timepoint {
  font-family:  "Jersey 10";
  font-size: 20pt;
  width: fit-content;
}

.card .techstack {
  position: relative;
  padding: 0;
  width: fit-content;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style-type: none;
  gap: 10px;
}

.card .techstack li {
  padding-left: 10px;
  padding-right: 8px;
  padding-bottom: 3px;
  background: oklch(from var(--bg-color) calc(l + .1) c h);
  border-radius: 30px;
  font-weight: bold;
}

.card p {
  margin-top: 20px;
  padding-left: 10px;
}