#hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 5rem;
  padding-bottom: 25vh;
}

.hero-struct {
  font-size: 1.5rem;
  font-weight: bold;

  opacity: 0;
  margin: 2rem 0;
  transform: translateY(50%);

  .hero-struct-braces {
    display: block;
    color: var(--red);
  }

  .hero-struct-pair {
    display: block;
    padding-left: 3rem;
  }

  .hero-struct-pair-spacer {
    height: 1rem;
  }

  .hero-struct-key {
    color: grey;
  }

  .hero-struct-value {
    color: white;
    padding-left: 0.5rem;

    &.true {
      color: var(--blue);
    }

    &.false {
      color: var(--red);
    }
  }
}

.hero-title {
  position: relative;
  text-align: center;
  font-family: "Jersey 10";
  font-size: 8rem;
  opacity: 0;
  margin: 0;
  transform: translateY(50%);
}

.hero-title-animation {
  display: inline;
  background: linear-gradient(-45deg , #ee7752, #e73c7e, #23a6d5);
  background-size: 400%;
  background-clip: text;

  color: transparent;
  animation: gradient 15s ease infinite;
}

.hero-title-emoji {
  font-size: 5rem;
}

.hero-buttons {
  display: flex;
  z-index: 0;
  position: relative;
  opacity: 0;
  transform: translateY(50%);
  gap: 8px;
  margin: 3rem 0;

  flex-wrap: wrap;
  justify-content: center;

  button {
    position: relative;
    font-size: 1.7rem;
    font-weight: bold;
    padding: 7px 15px;
    margin-top: 4px;
    min-width: 130px;

    border: 2px solid white;
    border-radius: 8px;

    color: white;
    background-color: var(--bg-color);

    transition: all 300ms ease;
  }

  button:hover {
    scale: 105%;
  }

  #hero-linked-in-link {
    color: white;
    text-decoration: none;
  }

  #hero-linked-in-link button {
    border-color: cornflowerblue;
    background-color: cornflowerblue;
  }

  #hero-github-link {
    color: orange;
    text-decoration: none;
  }

  #hero-github-link button {
    color: white;
    border-color: black;
    background-color: black;
  }
}

#hero.active {

  .hero-title {
    opacity: 1;
    transform: translateY(0);

    transition: all 600ms ease 1s;
  }

  .hero-struct {
    opacity: 1;
    transform: translateY(0);

    transition: all 600ms ease 1.8s;
  }

  .hero-buttons {
    opacity: 1;
    transform: translateY(0);

    transition: all 600ms ease 2.5s;
  }
}

@media screen and (max-width: 800px) {

  .hero-struct {
    font-size: 1.5rem;
    width: 80%;
    margin-bottom: 0;

    .hero-struct-pair {
      padding-left: 2rem;
    }
  }

  .hero-title {
    width: 90%;
    font-size: 5.5rem;

    word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal;
  }

  .hero-title-animation {
    word-break: normal;
    overflow-wrap: normal;
    white-space: unset;
  }

  .hero-title-emoji {
    font-size: 5rem;
  }

  .hero-buttons {

    flex-direction: column;
    flex-wrap: wrap;

    button {
      position: relative;
      font-size: 1.5rem;
      font-weight: bold;
      padding: 15px 30px;
      border-radius: 50px;
      min-width: 200px;
      margin-top: 4px;
    }
  }
}