#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;

  transition: opacity 500ms ease 3s;

  h1 {
    font-family: "Jersey 10";
    font-size: 8rem;

    margin: 0;
  }

  p {
    width: 95%;
    max-width: 100ch;
    margin-bottom: 30px;
  }
}

#projects.active {
  opacity: 1;
}

@media screen and (max-width: 800px) {

  #projects {
    display: block;
    position: relative;
    left: 5%;

    h1 {
      font-size: 5rem;
      text-align: left;
    }
  }
}